<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="drawa">คุณจับได้</h1>
        <!-- <p class="mm">{{ drawer_name }} จับได้ {{ kon }}</p> -->
        <p class="mm">{{ mon }}</p>
    <a id="mama" href="/">กดตรงนี้ก่อนเอาโทรศัพท์ให้คนอื่น</a>
</body>
</html>